@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Rubik:wght@400;500;600&display=swap");

:root {
  --font-dm: "DM Sans", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}

img {
  pointer-events: none;
}

.rounded-logo {
  border-radius: 1rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.ppdb_container {
  /* This is the color.primaryContent */
  background-color: #dadfee;
  padding: 0 8px;
  min-height: 100svh;
}

@media only screen and (max-width: 991px) {
  .ppdb_container {
    padding: 0;
  }
}
